In [ ]:
# Welcome to your new notebook
# Type here in the cell editor to add code!

In [8]:
%%sql       

MERGE INTO tbl_gold_agg_daily_sales AS tgt
USING (
     SELECT
        partition_date,
        restaurant_id,
        CAST(SUM(total_amount) AS DECIMAL(18,2)) AS sales_amount
    FROM stg_silver_orders
    WHERE partition_date >= current_date() - 7
    GROUP BY partition_date, restaurant_id
) AS src
ON  tgt.partition_date = src.partition_date
AND tgt.restaurant_id  = src.restaurant_id

WHEN MATCHED THEN
  UPDATE SET
    tgt.sales_amount = src.sales_amount

WHEN NOT MATCHED THEN
  INSERT (partition_date, restaurant_id, sales_amount)
  VALUES (src.partition_date, src.restaurant_id, src.sales_amount);

StatementMeta(, c8d88d21-09ce-427e-b613-5488698c08c0, 10, Finished, Available, Finished)